attrs==25.3.0
cffi==1.17.1
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==45.0.6
Django==5.2.5 
django-crispy-forms==2.4
django-colorfield==0.14.0
django-leaflet == 0.32.0
fasteners==0.19
gast==0.6.0
gunicorn==23.0.0 
html5lib==1.1
jsonfield==3.1.0
lxml==6.0.0
matplotlib==3.10.5
msgpack==1.1.1
numpy==2.3.2
pillow==11.3.0 
psycopg2-binary==2.9.10
pycparser==2.22
python-decouple==3.8
python-dateutil==2.9.0.post0
pytz==2024.2
scipy==1.16.1
sympy==1.14.0
tzdata==2024.2
vosk==0.3.45